auth.<your-domain>.com {
	reverse_proxy http://keycloak:8080
}

kb.<your-domain>.com {
	reverse_proxy http://outline
}
kbdata-admin.<your-domain>.com {
	@privateSubnets {
		remote_ip private_ranges
	}
	reverse_proxy @privateSubnets http://outline_minio:9001
}
kbdata.<your-domain>.com {
	reverse_proxy http://outline_minio:9000
}