#secrets/passwords. Generated 3x using `openssl rand -hex 32`
SECRET_KEY=<Generate me>
UTILS_SECRET=<Generate me>
POSTGRES_PASSWORD=<Generate me>

#domains
WIKI_URL=https://kb.<your-domain>.com

#oidc information
OIDC_CLIENT_ID=<Get from Pocket ID>
OIDC_CLIENT_SECRET=<Get from Pocket ID>
OIDC_AUTH_URI=https://auth.<your-domain>.com/authorize
OIDC_TOKEN_URI=https://auth.<your-domain>.com/api/oidc/token
OIDC_USERINFO_URI=https://auth.<your-domain>.com/api/oidc/userinfo
OIDC_DISPLAY_NAME=Pocket ID
