#secrets/passwords
SECRET_KEY=
UTILS_SECRET=
MINIO_ROOT_PASSWORD=
POSTGRES_PASSWORD=

#domains
MINIO_BROWSER_REDIRECT_URL=https://kbdata-admin.<your-domain>.com
WIKI_URL=https://kb.<your-domain>.com
WIKIDATA_URL=https://kbdata.<your-domain>.com

#oidc information
OIDC_CLIENT_ID=
OIDC_CLIENT_SECRET=
OIDC_AUTH_URI=https://auth.<your-domain>.com/oauth2/authorize
OIDC_TOKEN_URI=https://auth.<your-domain>.com/oauth2/token
OIDC_USERINFO_URI=https://auth.<your-domain>.com/oauth2/userinfo
OIDC_DISPLAY_NAME=FusionAuth

#smtp information
SMTP_HOST=
SMTP_PORT=
SMTP_FROM_EMAIL=
SMTP_REPLY_EMAIL=
SMTP_SECURE=